<!DOCTYPE html>
<html>

<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="/public/assets/auth/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/assets/auth/css/Registration-Form-with-Photo.css">
        <link rel="stylesheet" href="/public/assets/auth/css/styles.css">
    {% endblock %}
</head>

<body>
{% block body %}

{% endblock %}

<script src="/public/assets/auth/js/jquery.min.js"></script>
<script src="/public/assets/auth/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>